@font-face {
    font-family: "Domine-Bold";
    src: url('../font/Domine-Bold.ttf') format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
}
*{
    font-family: Domine-Bold;
    overflow-x: hidden;
}
@media screen and (min-width:450.2px) {
    
    .navbar .login-btn {
        position: absolute;
        top: 10px;
        right: 30px;
        color: white;
        background-color:#A73898;
        border: none;
    }
    .navbar .reg-btn{
        position: absolute;
        top: 10px;
        right: 95px;
        color: white;
        background-color:#A73898;
        border: none;

    }
    #vr{
        position: absolute;
        top: 6px;
        right: 65px;
        z-index: 1;
    }
    .btn-primary{
        background-color: #d44ac1;
        border-radius: 40px;
        border: none;
        margin-top: 40px;
        min-width: 370px;
    }
    .info-container{
        color:white;
        padding-top: 15px;
        margin: 50px 10px;
        border-radius: 30px;
        min-height: 350px;
        background-color: #d44ac1;
    }   
    .reviews-container{
        display: flex;
        justify-content: center;
    }
    .carousel-item{
        color: #A73898;
        padding: 15px 20px 20px 40px;
        border-radius: 30px;
        height: 300px;
        width: 240px;
        margin: 0 20px;
        margin-bottom: 20px;
        background-color: white;
    }
      .carousel-indicators, .carousel-light, .carousel-control-prev, 
      .carousel-control-prev-icon, .carousel-control-next, .carousel-control-next-icon{
        display: none;
    }
    .reviews-container{
        margin-bottom: 25px;
    }
    .noactive{
        display: block;
    }
}
@media screen and (max-width:450px) {
    
    .navbar .login-btn {
        position: absolute;
        color:white;
        top: 10px;
        right: 1px;
        background-color:#A73898;
        border: none;
    }
    .navbar .reg-btn{
        position: absolute;
        color: white;
        top: 10px;
        right: 60px;
        background-color:#A73898;
        border: none;

    }
    #vr{
        position: absolute;
        top: 6px;
        right: 62px;
        z-index: 1;
    }
    .btn-primary{
        background-color: #d44ac1;
        border-radius: 40px;
        border: none;
        font-size: 14px;
        margin-top: 40px;
        min-width: 100%;
    }
    .straight{
        opacity: 0%;
    }
    .info-container{
        color:white;
        padding-top: 15px;
        margin: 50px 10px;
        border-radius: 30px;
        min-height: 350px;
        background-color: #d44ac1;
    }
 
    .carousel-item{
        color: #A73898;
        padding: 15px 50px 20px 70px;
        border-radius: 30px;
        min-height: 270px;
        margin-bottom: 20px;
        background-color: white;
    }
    .reviews-container{
        margin-bottom: 25px
    }
    .account-creating{
        background-color: white;
        border-radius: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 250px;
        height: 250px;
    }
    #heart{
        position: relative;
        bottom: 2px;
    }
}
main{
    background-color: #c9a3c4;
}
.hat-container{
    padding: 0 0 20px 0;
    background-image: url(../images/hat.png);
}
.create-btn:hover{
    background-color: #d44ac1;
}
.info-hr{
    border: 2px solid white;
    margin: 0 25px;
}
.review-hr{
    margin: 5px 0;
    border: 1px solid #A73898;
    opacity: 30%;
}
div.container.footer{
    background-color: #A73898;
    color: white;
    font-size: 12px;
    min-width: 100%;
}